PROJECT=AIRDEV

# Environments
VALID_ENV_TARGETS=(local development production)
DEFAULT_ENV_TARGET=development
BASE_DB_ENV_TARGET=development

# 1Password
OP_ACCOUNT=airdev.1password.com

# Templates
ENV_TEMPLATE_PATH=scripts/env-templates
COMMON_ENV_OUTPUT_PATH=.env.local

# Databag (Optional)
DATABAG_JSON_PATH=databag.json
DATABAG_PASSWORD_VAR_NAME=DATABAG_PASSWORD

# Databases (Optional)
COCKROACH_DATABASE_URL_VAR_NAME=DATABASE_URL
# POSTGRES_DATABASE_URL_VAR_NAME=DATABASE_URL

# Stripe (Optional)
STRIPE_WEBHOOK_URL=localhost:3000/api/webhooks/stripe
